@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Ventas</h2>

<div class="card">
    <p>
        En esta sección se podrá registrar, listar y consultar las ventas realizadas.
    </p>

    <button style="padding:10px;border-radius:20px;background:#3CB371;color:white;border:none;">
        Nueva Venta
    </button>
</div>

