@{
    ViewData["Title"] = "Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Inventario</h2>

<div class="card">
    <p>
        Aquí se podrá visualizar y administrar el inventario de productos.
    </p>

    <button style="padding:10px;border-radius:20px;background:#3CB371;color:white;border:none;">
        Ver Productos
    </button>
</div>

