@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Módulo de Compras</h2>

<div class="card">
    <p>
        En esta sección se gestionarán las compras realizadas a los proveedores.
    </p>

    <button style="padding:10px;border-radius:20px;background:#3CB371;color:white;border:none;">
        Nueva Compra
    </button>
</div>

